@model IEnumerable<restaurant.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
<a asp-action="Create" class="btn btn-primary">Yorum Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Resim
            </th>
            <th>
                Email
            </th>
            <th>
                Onay
            </th>
            <th>
                Mesaj
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Image == null)
                    {
                        <img src="~/WebSite/images/noimage.png" width="100" height="80" />
                    }
                    else
                    {
                        <img src="@item.Image" width="100" height="80" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Onay)
                    {
                        <button class="btn btn-success btn-sm"><i class="bi bi-check-circle"></i>Evet</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i>Hayır</button>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mesaj)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="bi bi-pencil"></i> Onayla</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
