@model restaurant.Models.Rezervasyon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rezervasyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sayi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sayi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
