@model IEnumerable<restaurant.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create"></a>
</p>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                Adı
            </th>
            <th>
                Email
            </th>
            <th>
                TelefonNo
            </th>
            <th>
                Sayı
            </th>
            <th>
                Saat
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sayi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saat)
            </td>
            <td>
                @item.Tarih.ToShortDateString()
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i>   Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}
